.searchBar {
  display: flex;
  width: 350px;
}

.searchBarMobile {
  display: none;
}

@media (max-width: 988px) {
  .searchBar {
    display: none;
  }
  .searchBarMobile {
    display: flex;
  }
}
