.searchBar {
  display: flex;
  width: 250px;
}

.searchBarMobile {
  display: none;
}

@media (max-width: 933px) {
  .searchBar {
    display: none;
  }
  .searchBarMobile {
    display: flex;
  }
}
